/*
 *		タイマドライバのコンフィギュレーションファイル（ZynqMP RPU用）
 *
 *  $Id$
 */

/*
 *  高分解能タイマドライバ
 *
 *  各プロセッサにTTC3のカウンタを1つずつ割り当てる
 *  （プロセッサインデックス prcidx にカウンタ prcidx を対応）．
 */
CLASS(CLS_PRC1) {
	ATT_INI({ TA_NULL, 0, _kernel_target_hrt_initialize });
	ATT_TER({ TA_NULL, 0, _kernel_target_hrt_terminate });

	CFG_INT(INTNO_TIMER_PRC1, { TA_ENAINT|INTATR_TIMER, INTPRI_TIMER });
	DEF_INH(INHNO_TIMER_PRC1, { TA_NULL, _kernel_target_hrt_handler });
}

#if TNUM_PRCID >= 2
CLASS(CLS_PRC2) {
	ATT_INI({ TA_NULL, 0, _kernel_target_hrt_initialize });
	ATT_TER({ TA_NULL, 0, _kernel_target_hrt_terminate });

	CFG_INT(INTNO_TIMER_PRC2, { TA_ENAINT|INTATR_TIMER, INTPRI_TIMER });
	DEF_INH(INHNO_TIMER_PRC2, { TA_NULL, _kernel_target_hrt_handler });
}
#endif /* TNUM_PRCID >= 2 */
