/*
 *		シリアルインタフェースドライバのターゲット依存部
 *		（ARM Musca-B1用）のコンフィギュレーションファイル
 */

#include "target_serial.h"

ATT_TER({ TA_NULL, 0, sio_terminate });
CLASS(CLS_SERIAL) {
	CFG_INT(INTNO_SIO_PRC1, { INTATR_SIO, INTPRI_SIO });
	CRE_ISR(ISR_SIO, { TA_NULL, 1, INTNO_SIO_PRC1, sio_isr, ISRPRI_SIO });
}
